{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>

  <body>
    {% if user.is_authenticated %}
      <div class="container-scroller">
        <!-- Nav esquerda -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="{% url 'index' %}"><img style="width: 80px; height: auto;" src="{% static 'images/logo.png' %}" alt="" /></a>
            <a class="sidebar-brand brand-logo-mini" href="{% url 'index' %}"><img style="width: 30px; height: auto;" src="{% static 'images/logo.png' %}" alt="logo" /></a>
          </div>

          <ul class="nav">
            <li class="nav-item nav-category">
              <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span class="menu-icon"><i class="mdi mdi-table-large"></i></span>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item menu-items">
              <a class="nav-link" href="{% url 'finalizadas' %}">
                <span class="menu-icon"><i class="mdi mdi-alert-circle"></i></span>
                <span class="menu-title">Finalizados</span>
              </a>
            </li>
            <li class="nav-item menu-items">
              <a class="nav-link" href="{% url 'blog' %} active">
                <span class="menu-icon"><i class="mdi mdi-newspaper"></i></span>
                <span class="menu-title">Blog</span>
              </a>
            </li>
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-icon"><i class="mdi mdi-security"></i></span>
                <span class="menu-title">Página de usuários</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/samples/blank-page.html">Usuários</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/samples/blank-page.html">Gerentes</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Nav esquerda -->

        <!-- Direita -->
        <div class="container-fluid page-body-wrapper">
          <!-- Nav alto -->
          <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
              <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img style="width: 50px; height: auto;" src="{% static 'images/logo.png' %}" alt="logo" /></a>
            </div>

            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
              <!-- Pesquisa -->
              <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"><span class="mdi mdi-menu"></span></button>
              <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                  <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                    <input type="text" class="form-control" placeholder="Search products" />
                  </form>
                </li>
              </ul>
              <!-- Pesquisa -->

              <!-- Nav Direita -->
              <ul class="navbar-nav navbar-nav-right">
                <!-- Adicionar Dropdown -->
                <li class="nav-item dropdown">
                  <button class="nav-link btn btn-success" type="button" id="adicionarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="navbar-profile">
                      <p class="mb-0 d-none d-sm-block navbar-profile-name">Adicionar</p>
                      <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                    </div>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="adicionarDropdown">
                    <h6 class="p-3 mb-0">Adicionar</h6>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item" data-toggle="modal" data-target="#novoPratoModal">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-food text-success"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Novo Prato</p>
                      </div>
                    </a>
                    <a href="#" class="dropdown-item preview-item" data-toggle="modal" data-target="#adicionarBlogModal">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-newspaper text-info"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Novo Blog</p>
                      </div>
                    </a>
                  </div>
                </li>
                <!-- Adicionar Dropdown -->

                <!-- Profile -->
                <li class="nav-item dropdown">
                  <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                    <div class="navbar-profile">
                      <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.first_name }} {{ user.last_name }}</p>
                      <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                    <h6 class="p-3 mb-0">Perfil</h6>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'index' %}" class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-table text-success"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Inicio</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'login' %}" class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-logout text-danger"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Sair</p>
                      </div>
                    </a>
                  </div>
                </li>
                <!-- Profile -->
              </ul>
              <!-- Nav Direita -->

              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas"><span class="mdi mdi-format-line-spacing"></span></button>
            </div>
          </nav>
          <!-- Nav alto -->

          <!-- paineis -->
          <div class="main-panel">
            <!-- Blogs Adicionados -->
            <div class="content-wrapper">
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-row justify-content-between">
                        <h4 class="card-title mb-1">Blogs Adicionados</h4>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="table-responsive">
                            {% if blogs %}
                              <table class="table table-hover" id="blogTable">
                                <thead>
                                  <tr>
                                    <th>Imagem</th>
                                    <th>Descrição</th>
                                    <th>Link</th>
                                    <th>Usuário</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for blog in blogs %}
                                    <tr class="blog-link" data-id="{{ blog.id }}" data-descricao="{{ blog.description }}" data-link="{{ blog.link }}" data-usuario="{{ blog.usuario.first_name }} {{ blog.usuario.last_name }}" data-imagem="{{ blog.img.url }}">
                                      <td style="display: none;">{{ blog.id }}</td>
                                      <td>
                                        <img src="{{ blog.img.url }}" class="rounded-sm" style="width: 100px; height: auto;" />
                                      </td>
                                      <td>{{ blog.description }}</td>
                                      <td>{{ blog.link }}</td>
                                      <td>{{ blog.usuario.first_name }} {{ blog.usuario.last_name }}</td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            {% else %}
                              <div class="alert alert-info m-2" role="alert">Não há Blogs adicionados</div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Blogs Adicionados -->
          </div>
          <!-- paineis -->
        </div>
        <!-- Direita -->
      </div>

      <!-- Modal Adicionar Prato -->
      <div class="modal fade" id="novoPratoModal" tabindex="-1" role="dialog" aria-labelledby="novoPratoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="novoPratoModalLabel">Adicionar Novo Prato</h5>
              <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <!-- Formulário para adicionar novo prato -->
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" name="food_submit">Adicionar</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Adicionar Prato -->

      <!-- Modal Adicionar Blog -->
      <div class="modal fade" id="adicionarBlogModal" tabindex="-1" role="dialog" aria-labelledby="adicionarBlogModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="adicionarBlogModalLabel">Novo Blog</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ blog_form.as_p }}
                <button type="submit" class="btn btn-primary" name="blog_submit">Adicionar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Adicionar Blog -->

      <!-- Modal Detalhes do Blog -->
      <div class="modal fade" id="modalBlogDetalhes">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <!-- Cabeçalho do Modal -->
            <div class="modal-header">
              <h5 class="modal-title">Detalhes do Blog</h5>
              <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Corpo do Modal -->
            <div class="modal-body">
              <div class="row">
                <div class="col-md-3">
                  <img id="modalImagemBlog" src="" class="img-fluid" />
                </div>
                <div class="col-md-4">
                  <p style="display: none;">
                    <strong>id</strong> <span id="modalId"></span>
                  </p>
                  <p>
                    <strong>Descrição:</strong> <span id="modalDescricao"></span>
                  </p>
                  <p>
                    <strong>Link:</strong> <a id="modalLink" href="#" target="_blank">Clique aqui</a>
                  </p>
                  <p>
                    <strong>Usuário:</strong> <span id="modalUsuario"></span>
                  </p>
                </div>
                <!-- Botões de Ação -->
                <div class="col-md-5">
                  <div class="d-flex flex-column">
                    <button type="button" class="btn btn-primary mt-3 mb-3" id="editarBlog">Editar</button>
                    <div class="dropdown-divider"></div>
                    <button type="button" class="btn btn-danger mb-3" id="excluirBlog">Excluir</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Footer do Modal -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Detalhes do Blog -->

      <!-- Modal Edição do Blog -->
      <div class="modal fade" id="modalBlogEdicao">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <!-- Cabeçalho do Modal -->
            <div class="modal-header">
              <h5 class="modal-title">Editar Blog</h5>
              <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Corpo do Modal -->
            <div class="modal-body">
              <form id="formEdicaoBlog" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p style="display: none;">
                  <strong>id</strong> <span id="modalId"></span>
                </p>
                <div class="form-group">
                  <label for="editDescricao">Descrição:</label>
                  <input type="text" class="form-control" id="editDescricao" name="editDescricao" />
                </div>
                <div class="form-group">
                  <label for="editLink">Link:</label>
                  <input type="url" class="form-control" id="editLink" name="editLink" />
                </div>
                <div class="form-group">
                  <label for="editUsuario">Usuário:</label>
                  <input type="text" class="form-control" id="editUsuario" name="editUsuario"/>
                </div>
                <div class="form-group">
                  <label for="editImagem">Imagem:</label>
                  <input type="file" class="form-control-file" id="editImagem" name="editImagem" />
                </div>
                <div class="form-group">
                  <img id="previewImagem" src="" class="img-fluid" alt="Pré-visualização da imagem" />
                </div>
              </form>
            </div>

            <!-- Footer do Modal -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" id="salvarEdicaoBlog">Salvar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Edição do Blog -->
    {% endif %}

    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <script src="{% static 'js/sistema.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>
