{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
</head>

<body>
  {% if user.is_authenticated %}
  
    <div class="container-scroller">

      <!-- Nav esquerda -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="{% url 'index' %}"><img style="width: 80px; height: auto;"
              src="{% static 'images/logo.png' %}" alt="" /></a>
          <a class="sidebar-brand brand-logo-mini" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"
              alt="logo" /></a>
        </div>

        <ul class="nav">
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items active">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <span class="menu-icon"><i class="mdi mdi-table-large"></i></span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon"><i class="mdi mdi-security"></i></span>
              <span class="menu-title">Página de usuários</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/blank-page.html">Usuários</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/blank-page.html">Gerentes</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- Nav esquerda -->

      <!-- Direita -->
      <div class="container-fluid page-body-wrapper">
        <!-- Nav alto -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img style="width: 50px; height: auto;" src="{% static 'images/logo.png' %}"
                alt="logo" /></a>
          </div>

          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <!-- Pesquisa -->
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"><span
                class="mdi mdi-menu"></span></button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search products" />
                </form>
              </li>
            </ul>
            <!-- Pesquisa -->

            <!-- Nav Direita -->
            <ul class="navbar-nav navbar-nav-right">
              <!-- Adicionar -->
              <li class="nav-item dropdown d-none d-lg-block">
                <button type="button" class="nav-link btn btn-success create-new-button" data-toggle="modal"
                  data-target="#novoPratoModal">+ Adicionar Novo Prato</button>
              </li>
              <!-- Adicionar -->

              <!-- links -->
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#"><i class="mdi mdi-view-grid"></i></a>
              </li>
              <!-- links -->

              <!-- Notifications -->
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                  data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Event today</p>
                      <p class="text-muted ellipsis mb-0">Just a reminder that you have an event today</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                      <p class="text-muted ellipsis mb-0">Update dashboard</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-link-variant text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Launch Admin</p>
                      <p class="text-muted ellipsis mb-0">New admin wow!</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all notifications</p>
                </div>
              </li>
              <!-- Notifications -->

              <!-- Profile -->
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.first_name }} {{ user.last_name }}</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Perfil</h6>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'index' %}" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-table text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Inicio</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'login' %}" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Sair</p>
                    </div>
                  </a>
                </div>
              </li>
              <!-- Profile -->
            </ul>
            <!-- Nav Direita -->

            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
              data-toggle="offcanvas"><span class="mdi mdi-format-line-spacing"></span></button>
          </div>
        </nav>
        <!-- Nav alto -->

        <!-- paineis -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">

              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    {% if soma_total_preco %}
                                        <h3 class="mb-0">
                                            R${{ soma_total_preco }}
                                        </h3>
                                    {% else %}
                                        <p class="mb-0">Nenhuma soma por hoje</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Recebido em Reservas</h6>
                    </div>
                </div>
              </div>
              
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                  <h3 class="mb-0">
                                    R${{ meta_diaria }}
                                  </h3>
                                    {% if diferenca_meta >= 0 %}
                                        <p class="text-success ml-2 mb-0 font-weight-medium">R$ +{{ diferenca_meta }}</p>
                                    {% else %}
                                        <p class="text-danger ml-2 mb-0 font-weight-medium">R$ {{ diferenca_meta }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon {% if diferenca_meta >= 0 %}icon-box-success{% else %}icon-box-danger{% endif %}">
                                    <span class="mdi {% if diferenca_meta >= 0 %}mdi-arrow-top-right{% else %}mdi-arrow-bottom-left{% endif %} icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Meta de Venda</h6>
                    </div>
                </div>
              </div>

              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    {% if reservas %}
                                        <h3 class="mb-0">{{ reservas|length }}</h3>
                                    {% else %}
                                        <p class="mb-0">Nenhuma reserva por hoje</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Reservas Abertas</h6>
                    </div>
                </div>
              </div>
            
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">{{ meta_diaria_reservas }}</h3> <!-- Alterado para exibir o total de reservas -->
                                    {% if diferenca_meta_reservas >= 0 %}
                                        <p class="text-success ml-2 mb-0 font-weight-medium">+{{ diferenca_meta_reservas }}</p>
                                    {% else %}
                                        <p class="text-danger ml-2 mb-0 font-weight-medium">{{ diferenca_meta_reservas }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon {% if diferenca_meta_reservas >= 0 %}icon-box-success{% else %}icon-box-danger{% endif %}">
                                    <span class="mdi {% if diferenca_meta_reservas >= 0 %}mdi-arrow-top-right{% else %}mdi-arrow-bottom-left{% endif %} icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Meta de Reservas</h6> <!-- Alterado para refletir reservas diárias -->
                    </div>
                </div>
              </div>
            
            </div>

            <div class="row">

              <!-- Pratos Adicionados -->
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Pratos Adicionados</h4>
                      <button type="button" class="nav-link btn btn-primary create-new-button m-1" data-toggle="modal"
                        data-target="#modalPratos">Todos os Pratos</button>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Imagem</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Valor Kg</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for food in foods_dashboard %}
                              <tr class="prato-link"
                                  data-nome="{{ food.name_food }}"
                                  data-descricao="{{ food.descricao }}"
                                  data-valor="{{ food.valor }}"
                                  data-imagem="{{ food.img.url }}"> <!-- Adiciona o atributo data-imagem -->
                                  <td>
                                      <img src="{{ food.img.url }}" class="rounded-sm" style="width: 100px; height: auto;" />
                                  </td>
                                  <td>{{ food.name_food }}</td>
                                  <td>{{ food.descricao }}</td>
                                  <td>{{ food.valor }}Kg</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Pratos Adicionados -->

            </div>

            <!-- reserva table -->
            <div class="row">
              <div class="col-12 grid-margin">
                  <div class="card">
                      <div class="card-body">
                          <div class="d-flex flex-row justify-content-between">
                              <h4 class="card-title">Tabela de Reservas</h4>
                              <button type="button" class="nav-link btn btn-primary create-new-button m-1" data-toggle="modal" data-target="#modalReservas">Todas as Reservas</button>
                          </div>
                          <div class="table-responsive">
                              {% if reservas %}
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>Cliente</th>
                                          <th>Email</th>
                                          <th>Telefone</th>
                                          <th>Comida</th>
                                          <th>Peso (kg)</th>
                                          <th>Preço Total</th>
                                          <th>Data</th>
                                          <th>Hora</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for reserva in reservas %}
                                      <tr class="reserva-link"
                                          data-foto-comida="{{ reserva.food.img.url }}"
                                          data-cliente="{{ reserva.usuario.first_name }} {{ reserva.usuario.last_name }}"
                                          data-email="{{ reserva.get_email }}"
                                          data-telefone="{{ reserva.telefone }}"
                                          data-comida="{{ reserva.food.name_food }}"
                                          data-peso="{{ reserva.peso }}"
                                          data-preco-total="{{ reserva.preco_total | floatformat:"2" }}"
                                          data-data="{{ reserva.date }}"
                                          data-hora="{{ reserva.hora }}">
                                          <td>{{ reserva.usuario.first_name }} {{ reserva.usuario.last_name }}</td>
                                          <td>{{ reserva.get_email }}</td>
                                          <td>{{ reserva.telefone }}</td>
                                          <td>{{ reserva.food.name_food }}</td>
                                          <td>{{ reserva.peso }}</td>
                                          <td>{{ reserva.preco_total | floatformat:"2" }}</td>
                                          <td>{{ reserva.date }}</td>
                                          <td>{{ reserva.hora }}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                              {% else %}
                              <div class="alert alert-info" role="alert">Não há reservas para hoje.</div>
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <!-- reserva table -->

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Direitos Autorais &copy; 2024 Le Sorelle Desenvolvido por <a href="https://www.instagram.com/a.calorio/?next=%2F" target="_blank">Arthur Calorio</a></h6>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- paineis -->

      </div>
      <!-- Direita -->
    </div>

    <!-- Modal Adicionar -->
    <div class="modal fade" id="novoPratoModal" tabindex="-1" role="dialog" aria-labelledby="novoPratoModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="novoPratoModalLabel">Adicionar Novo Prato</h5>
            <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulário para adicionar novo prato -->
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="modal-footer">
                <button type="submit" id="submitBtn" class="btn btn-primary">Adicionar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Adicionar -->

    <!-- Modal Pratos -->
    <div class="modal fade" id="modalPratos" tabindex="-1" role="dialog" aria-labelledby="modalPratosLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalPratosLabel">Pratos Adicionados</h5>
            <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor Kg</th>
                  </tr>
                </thead>
                <tbody>
                  {% for food in foods_modal %}
                  <tr>
                    <td>
                      <img src="{{ food.img.url }}" class="rounded-sm" style="width: 100px; height: auto;" />
                    </td>
                    <td>{{ food.name_food }}</td>
                    <td>{{ food.descricao }}</td>
                    <td>{{ food.valor }}Kg</td>
                    <th>
                      
                    </th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Pratos -->

    <!-- Modal de todas Reservas -->
    <div class="modal fade" id="modalReservas" tabindex="-1" role="dialog" aria-labelledby="modalReservasLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalReservasLabel">Todas as Reservas</h5>
            <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Cliente</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Comida</th>
                    <th>Peso (kg)</th>
                    <th>Preço Total</th>
                    <th>Data</th>
                    <th>Hora</th>
                  </tr>
                </thead>
                <tbody>
                  {% for reserva in reservas_modal %}
                  <tr>
                    <td>{{ reserva.usuario.first_name }} {{ reserva.usuario.last_name }}</td>
                    <td>{{ reserva.get_email }}</td>
                    <td>{{ reserva.telefone }}</td>
                    <td>{{ reserva.food.name_food }}</td>
                    <td>{{ reserva.peso }}</td>
                    <td>{{ reserva.preco_total |floatformat:"2" }}</td>
                    <td>{{ reserva.date }}</td>
                    <td>{{ reserva.hora }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal de todas Reservas -->

    <!-- Modal Detalhes Reserva -->
    <div class="modal fade" id="detalhesReserva">
      <div class="modal-dialog">
          <div class="modal-content">
              <!-- Cabeçalho do Modal -->
              <div class="modal-header">
                  <h4 class="modal-title">Detalhes da Reserva</h4>
                  <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <!-- Corpo do Modal -->
              <div class="modal-body">
                  <img id="modalFotoComida" src="" class="img-fluid">
                  <p><strong>Cliente:</strong> <span id="modalCliente"></span></p>
                  <p><strong>Email:</strong> <span id="modalEmail"></span></p>
                  <p><strong>Telefone:</strong> <span id="modalTelefone"></span></p>
                  <p><strong>Comida:</strong> <span id="modalComida"></span></p>
                  <p><strong>Peso (kg):</strong> <span id="modalPeso"></span></p>
                  <p><strong>Preço Total:</strong> <span id="modalPrecoTotal"></span></p>
                  <p><strong>Data:</strong> <span id="modalData"></span></p>
                  <p><strong>Hora:</strong> <span id="modalHora"></span></p>
              </div>
              <!-- Rodapé do Modal -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
          </div>
      </div>
    </div>
    <!-- Modal Detalhes Reserva -->

    <!-- Modal Detalhes do Prato -->
    <div class="modal fade" id="modalPratoDetalhes">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- Cabeçalho do Modal -->
          <div class="modal-header">
            <h5 class="modal-title">Detalhes do Prato</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Corpo do Modal -->
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <img id="modalImagem" src="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <p><strong>Nome:</strong> <span id="modalNome"></span></p>
                <p><strong>Descrição:</strong> <span id="modalDescricao"></span></p>
                <p><strong>Valor (Kg):</strong> <span id="modalValor"></span></p>

                <div class="d-flex flex-column">
                  <button type="button" class="col-1 btn btn-primary mb-3" id="editarPrato">Editar</button>
                  <button type="button" class="col-1 btn btn-warning mb-3" id="inativarPrato">Inativar</button>
                  <button type="button" class="col-1 btn btn-danger" id="excluirPrato">Excluir</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Rodapé do Modal -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Detalhes do Prato -->

  {% endif %}

  <!-- plugins:js -->
  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
  <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'assets/js/off-canvas.js' %}"></script>
  <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'assets/js/misc.js' %}"></script>
  <script src="{% static 'assets/js/settings.js' %}"></script>
  <script src="{% static 'assets/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{% static 'assets/js/dashboard.js' %}"></script>
  <!-- End custom js for this page -->
</body>

</html>

<script>
  $(document).ready(function() {
    // Adicione um evento de clique às linhas da tabela com a classe 'reserva-link'
    $('.reserva-link').click(function() {
        // Recupere os detalhes da reserva
        var cliente = $(this).data('cliente');
        var email = $(this).data('email');
        var telefone = $(this).data('telefone');
        var comida = $(this).data('comida');
        var peso = $(this).data('peso');
        var precoTotal = $(this).data('preco-total');
        var data = $(this).data('data');
        var hora = $(this).data('hora');
        var fotoComida = $(this).data('foto-comida');

        // Preencha o modal com os detalhes da reserva
        $('#modalCliente').text(cliente);
        $('#modalEmail').text(email);
        $('#modalTelefone').text(telefone);
        $('#modalComida').text(comida);
        $('#modalPeso').text(peso);
        $('#modalPrecoTotal').text(precoTotal);
        $('#modalData').text(data);
        $('#modalHora').text(hora);
        $('#modalFotoComida').attr('src', fotoComida);

        // Exiba o modal
        $('#detalhesReserva').modal('show');
    });
});

$(document).ready(function() {
  // Adicione um evento de clique às linhas da tabela com a classe 'prato-link'
  $('.prato-link').click(function() {
      // Recupere os detalhes do prato
      var nome = $(this).data('nome');
      var descricao = $(this).data('descricao');
      var valor = $(this).data('valor');
      var imagem = $(this).data('imagem'); // Recupera o URL da imagem

      // Preencha o modal com os detalhes do prato
      $('#modalNome').text(nome);
      $('#modalDescricao').text(descricao);
      $('#modalValor').text(valor);
      $('#modalImagem').attr('src', imagem); // Define a imagem do prato

      // Exiba o modal
      $('#modalPratoDetalhes').modal('show');
  });
});

  // Função para desativar o botão após o envio do formulário
  function disableButton() {
    document.getElementById("submitBtn").disabled = true;
    document.getElementById("submitBtn").innerText = 'Enviando...';
  }

  // Adicionando evento de clique ao botão de envio do formulário
  document.getElementById("novoPratoForm").addEventListener("submit", function () {
    disableButton();
  });

</script>