{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- Site Metas -->
    <title>Le Sorelle</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" />

    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Color -->
    <link id="changeable-colors" rel="stylesheet" href="{% static 'css/colors/orange.css' %}" />
    <!-- Custom Favicon Style -->
    <link rel="shortcut icon" style="width: auto; height: auto;" href="{% static 'assets/images/favicon.png' %}" />

    <!-- Modernizer -->
    <script src="{% static 'js/modernizer.js' %}"></script>

    <!-- Typed.js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!-- Inclua o Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>

  <body>
    <!-- site-header -->
    <div id="site-header">
      <header id="header" class="header-block-top">
        <div class="container">
          <div class="row">
            <div class="main-menu">
              <!-- navbar -->
              <!-- navbar -->
              <nav class="navbar navbar-default" id="mainNav">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div class="logo">
                    <a class="navbar-brand js-scroll-trigger logo-header" href="#"><img src="{% static 'images/logo.png' %}" alt="" /></a>
                  </div>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                      <a href="#banner">Home</a>
                    </li>
                    <li>
                      <a href="#about">Sobre Nós</a>
                    </li>
                    <li>
                      <a href="#menu">Menu</a>
                    </li>
                    <li>
                      <a href="#our_team">Time</a>
                    </li>
                    <li>
                      <a href="#gallery">Galeria</a>
                    </li>
                    <li>
                      <a href="#blog">Blog</a>
                    </li>
                    <li>
                      <a href="#reservation">Reservas</a>
                    </li>
                    <li>
                      <a href="#footer">Contato</a>
                    </li>
                    {% if user.is_authenticated %}
                      <!-- Dropdown para usuários autenticados -->
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <!-- Links para o dashboard, configurações e logout -->
                          {% if user_is_in_dashboard_group %}
                            <li>
                              <a class="dropdown-link" style="padding: 5px;" href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                          {% endif %}
                          <li>
                            <a class="dropdown-link" style="padding: 5px;" href="{% url 'minhasreservas' %}">Minhas Reservas</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li>
                            <a class="dropdown-link" style="padding: 5px;" href="{% url 'login' %}">Sair</a>
                          </li>
                        </ul>
                      </li>
                    {% else %}
                      <!-- Botão de "Entrar" para usuários não autenticados -->
                      <li>
                        <a href="{% url 'login' %}">Entrar</a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
              <!-- navbar -->

              <!-- navbar -->
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- site-header -->

    <!-- banner -->
    <div id="banner" class="banner full-screen-mode parallax">
      <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="banner-static">
            <div class="banner-text">
              <div class="banner-cell">
                <h1>Seja <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="Bem Vindo" data-colors="red"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
                <h2>Melhor casa de Massas de Brasília</h2>
                <p>Venha Experimentar</p>
                <div class="book-btn">
                  <a href="#reservation" class="table-btn hvr-underline-from-center">Reserve Meu Prato</a>
                </div>
                <a href="#about"><div class="mouse"></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- banner -->

    <!-- About us -->
    <div id="about" class="about-main pad-top-100 pad-bottom-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <h2 class="block-title">Sobre Nós</h2>
              <h3>Tradição Italiana, Sabor Familiar</h3>
              <p>Em Le Sorelle, não apenas servimos massas, mas também compartilhamos uma história de tradição italiana transmitida de geração em geração. Desde que nosso amado avô, um imigrante da ensolarada Itália, trouxe consigo os segredos da verdadeira culinária italiana, nossa família tem se dedicado a trazer o calor e o sabor da nossa casa para a sua.</p>

              <p>Nossa paixão pela culinária italiana une não apenas pratos deliciosos, mas também três irmãs dedicadas a compartilhar o sabor da nossa casa com você. Desde o início, nossa jornada tem sido uma aventura familiar, onde cada prato é uma expressão do nosso amor fraternal e do rico legado que compartilhamos.</p>
            </div>
          </div>
          <!-- end col -->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <div class="about-images">
                <img class="about-main" src="{% static 'images/about-main.jpg' %}" alt="About Main Image" />
                <img class="about-inset" src="{% static 'images/about-inset.jpg' %}" alt="About Inset Image" />
              </div>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- About us -->

    <!-- special-menu -->
    <div id="menu" class="special-menu pad-top-100 parallax">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <h2 class="block-title color-white text-center">Pratos Especiais</h2>
              <h5 class="title-caption text-center">Na cozinha de Le Sorelle, honramos as tradições passadas de mãos em mãos. Com cada massa artesanalmente preparada, trazemos não apenas o sabor da Itália, mas também a nostalgia e a calorosa hospitalidade da nossa própria casa de família.</h5>
            </div>

            <div class="special-box">
              <div id="owl-demo">
                <div class="item item-type-zoom">
                  <a href="#" class="item-hover">
                    <div class="item-info">
                      <div class="headline">
                        SALMON STEAK<div class="line"></div>
                        <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                      </div>
                    </div>
                  </a>
                  <div class="item-img">
                    <img src="{% static 'images/special-menu-1.jpg' %}" alt="sp-menu" />
                  </div>
                </div>

                <div class="item item-type-zoom">
                  <a href="#" class="item-hover">
                    <div class="item-info">
                      <div class="headline">
                        ITALIAN PIZZA<div class="line"></div>
                        <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                      </div>
                    </div>
                  </a>
                  <div class="item-img">
                    <img src="{% static 'images/special-menu-2.jpg' %}" alt="sp-menu" />
                  </div>
                </div>

                <div class="item item-type-zoom">
                  <a href="#" class="item-hover">
                    <div class="item-info">
                      <div class="headline">
                        VEG. ROLL<div class="line"></div>
                        <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                      </div>
                    </div>
                  </a>
                  <div class="item-img">
                    <img src="{% static 'images/special-menu-3.jpg' %}" alt="sp-menu" />
                  </div>
                </div>

                <div class="item item-type-zoom">
                  <a href="#" class="item-hover">
                    <div class="item-info">
                      <div class="headline">
                        SALMON STEAK<div class="line"></div>
                        <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                      </div>
                    </div>
                  </a>
                  <div class="item-img">
                    <img src="{% static 'images/special-menu-1.jpg' %}" alt="sp-menu" />
                  </div>
                </div>

                <div class="item item-type-zoom">
                  <a href="#" class="item-hover">
                    <div class="item-info">
                      <div class="headline">
                        VEG. ROLL<div class="line"></div>
                        <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                      </div>
                    </div>
                  </a>
                  <div class="item-img">
                    <img src="{% static 'images/special-menu-2.jpg' %}" alt="sp-menu" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- special-menu -->

    <!-- menu -->
    <div class="menu-main pad-top-100 pad-bottom-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <h2 class="block-title text-center">Menu</h2>
              <p class="title-caption text-center">Aqui em Le Sorelle, não cortamos cantos quando se trata de qualidade e sabor. Cada massa é amassada à mão, cada molho é preparado com cuidado e cada prato é uma obra-prima artesanal que reflete nossa paixão pela autêntica culinária italiana.</p>
            </div>
            <div class="tab-menu">
              <div class="slider slider-nav">
                <div class="tab-title-menu">
                  <h2>Entradas</h2>
                  <p>
                    <i class="flaticon-canape"></i>
                  </p>
                </div>
                <div class="tab-title-menu">
                  <h2>Pratos Principais</h2>
                  <p>
                    <i class="flaticon-dinner"></i>
                  </p>
                </div>
                <div class="tab-title-menu">
                  <h2>Lanches</h2>
                  <p>
                    <i class="flaticon-desert"></i>
                  </p>
                </div>
                <div class="tab-title-menu">
                  <h2>Bebidas</h2>
                  <p>
                    <i class="flaticon-coffee"></i>
                  </p>
                </div>
              </div>
              <div class="slider slider-single">
                <div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="{% static 'images/menu-item-thumbnail-01.jpg' %}" alt="" class="img-responsive" />
                      <div>
                        <h3>Focaccia Tradicional</h3>
                        <p>Folha de massa crocante.</p>
                      </div>
                      <span class="offer-price">R$79kg</span>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="{% static 'images/menu-item-thumbnail-02.jpg' %}" alt="" class="img-responsive" />
                      <div>
                        <h3>Focaccia Grossa</h3>
                        <p>Focaccia como um pão.</p>
                      </div>
                      <span class="offer-price">$25</span>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="{% static 'images/menu-item-thumbnail-03.jpg' %}" alt="" class="img-responsive" />
                      <div>
                        <h3>Beringela paulista</h3>
                        <p>Antepasto feito com beringela, pimentão, azeitonna e uva passas.</p>
                      </div>
                      <span class="offer-price">$10</span>
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="{% static 'images/menu-item-thumbnail-04.jpg' %}" alt="" class="img-responsive" />
                      <div>
                        <h3>MEAT FEAST PIZZA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.</p>
                      </div>
                      <span class="offer-price">$5</span>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="{% static 'images/menu-item-thumbnail-05.jpg' %}" alt="" class="img-responsive" />
                      <div>
                        <h3>CHICKEN TIKKA MASALA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.</p>
                      </div>
                      <span class="offer-price">$15</span>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="{% static 'images/menu-item-thumbnail-06.jpg' %}" alt="" class="img-responsive" />
                      <div>
                        <h3>SPICY MEATBALLS</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.</p>
                      </div>
                      <span class="offer-price">$6.5</span>
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="{% static 'images/menu-item-thumbnail-07.jpg' %}" alt="" class="img-responsive" />
                      <div>
                        <h3>CHOCOLATE FUDGECAKE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.</p>
                      </div>
                      <span class="offer-price">$4.5</span>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="{% static 'images/menu-item-thumbnail-08.jpg' %}" alt="" class="img-responsive" />
                      <div>
                        <h3>CHICKEN TIKKA MASALA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.</p>
                      </div>
                      <span class="offer-price">$9.5</span>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="images/menu-item-thumbnail-09.jpg" alt="" class="img-responsive" />
                      <div>
                        <h3>CHICKEN TIKKA MASALA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.</p>
                      </div>
                      <span class="offer-price">$10</span>
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="images/menu-item-thumbnail-10.jpg" alt="" class="img-responsive" />
                      <div>
                        <h3>MEAT FEAST PIZZA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.</p>
                      </div>
                      <span class="offer-price">$12.5</span>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="images/menu-item-thumbnail-09.jpg" alt="" class="img-responsive" />
                      <div>
                        <h3>CHICKEN TIKKA MASALA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.</p>
                      </div>
                      <span class="offer-price">$9.5</span>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="offer-item">
                      <img src="images/menu-item-thumbnail-08.jpg" alt="" class="img-responsive" />
                      <div>
                        <h3>CHICKEN TIKKA MASALA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.</p>
                      </div>
                      <span class="offer-price">$5.5</span>
                    </div>
                  </div>
                  <!-- end col -->
                </div>
              </div>
            </div>
            <!-- end tab-menu -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- menu -->

    <!-- team-main -->
    <div id="our_team" class="team-main pad-top-100 pad-bottom-100 parallax">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <h2 class="block-title text-center">Nosso Time</h2>
              <p class="title-caption text-center">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
            <div class="team-box">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="sf-team">
                    <div class="thumb">
                      <a href="#"><img src="{% static 'images/mirella.jpg' %}" alt="" /></a>
                    </div>

                    <div class="text-col">
                      <h3>Mirella Calorio</h3>
                      <p>
                        Cheff<br /><br />Em cada prato que a Chef Mirella cria, há uma história para contar, uma experiência sensorial a ser compartilhada e uma jornada culinária a ser explorada. Com uma paixão inabalável pela arte da culinária e uma habilidade incomparável na cozinha, Mirella transforma ingredientes simples em obras-primas gastronômicas que cativam os sentidos e aquecem o coração.
                      </p>
                      <ul class="team-social">
                        <li>
                          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- end col -->
                <div class="col-md-4 col-sm-6">
                  <div class="sf-team">
                    <div class="thumb">
                      <a href="#"><img src="{% static 'images/Eduardo.jpg' %}" alt="" /></a>
                    </div>

                    <div class="text-col">
                      <h3>Eduardo Rodrigues</h3>
                      <p>
                        Gerente<br /><br />No coração de cada grande equipe há um líder excepcional, e no nosso caso, esse líder é Eduardo. Com sua paixão incansável pelo sucesso, sua determinação inabalável e sua incrível capacidade de conectar e inspirar as pessoas ao seu redor, Eduardo não é apenas um gerente, mas sim um mentor, um guia e um amigo.
                      </p>
                      <ul class="team-social">
                        <li>
                          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- end col -->
                <div class="col-md-4 col-sm-6">
                  <div class="sf-team">
                    <div class="thumb">
                      <a href="#"><img src="{% static 'images/arthur.jpg' %}" alt="" /></a>
                    </div>

                    <div class="text-col">
                      <h3>Arthur Calorio</h3>
                      <p>
                        Desenvolvedor Full Stack<br /><br />No mundo digital de hoje, a presença online é essencial, e é aqui que Arthur brilha. Com sua expertise em desenvolvimento web e design de interfaces intuitivas, ele cria plataformas digitais que não apenas refletem a essência de nossa marca, mas também proporcionam uma experiência imersiva que cativa e inspira nossos clientes.
                      </p>
                      <ul class="team-social">
                        <li>
                          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end team-box -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- team-main -->

    <!-- gallery-main -->
    <div id="gallery" class="gallery-main pad-top-100 pad-bottom-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <h2 class="block-title text-center">Nossa Galeria</h2>
              <p class="title-caption text-center">Em nossa jornada gastronômica, cada prato é uma obra de arte efêmera, uma explosão de cores, texturas e aromas que despertam os sentidos e contam histórias únicas. Na nossa Galeria de Fotos, convidamos você a mergulhar nesse mundo de delícias visuais, onde cada imagem é uma janela para a magia da culinária.</p>
            </div>
            <div class="gal-container clearfix">
              {% for prato in pratos %}
                <div class="col-md-6 col-sm-12 co-xs-12 gal-item">
                  <div class="box">
                    <a href="#" data-toggle="modal" data-target="#{{ prato.id }}"><img src="{{ prato.img.url }}" alt="" /></a>

                    <div class="modal fade" id="{{ prato.id }}" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                          <div class="modal-body">
                            <img src="{{ prato.img.url }}" alt="" />

                            <div class="col-md-12 description">
                              <h4>{{ prato.name_food }}</h4>
                              <p>{{ prato.descricao }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- gallery-main -->

    <!-- blog-main -->
    <div id="blog" class="blog-main pad-top-100 pad-bottom-100 parallax">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="block-title text-center">Nosso Blog</h2>
            {% if no_posts %}
                <p style="color:aliceblue; font-size: 28px; margin-top: 50px;" class="text-center no-posts">Nenhuma postagem por enquanto.</p>
            {% else %}
              <div class="blog-box clearfix">
                {% for blog in blogs %}
                  <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <div class="col-md-6 col-sm-6">
                      <div class="blog-block">
                        <div class="blog-img-box">
                          <img src="{{ blog.img.url }}" alt="" />
                          <div class="overlay">
                            <a href="{{ blog.link }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                          </div>
                        </div>
                        <div class="blog-dit">
                          <p>
                            <span>{{ blog.created_at|date:'d F, Y' }}</span>
                          </p>
                          <h2>{{ blog.description }}</h2>
                          <h5>Criado por {{ blog.usuario.first_name }} {{ blog.usuario.last_name }}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <!-- end blog-box -->
            {% endif %}
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- blog-main -->

    <!-- reservations-main -->
    <div id="reservation" class="reservations-main pad-top-100 pad-bottom-100">
      <div class="container">
        <div class="row">
          <div class="form-reservations-box">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                <h2 class="block-title text-center">Reserva de Pratos</h2>
              </div>
              <h4 class="form-title">Acompanhamento da Reserva</h4>
              <p>
                  Após enviar sua reserva, você pode acompanhar o status dela na página <a href="{% url 'minhasreservas' %}">Minhas Reservas</a>. Quando seu prato estiver pronto para retirada, o status será atualizado para "Pronto". Recomendamos que você fique atento a essa página para saber o momento ideal de ir buscar sua refeição.
              </p>
              <h4 class="form-title">Formulário de Reserva</h4>
              <p>
                  Para garantir que seu prato esteja pronto quando você chegar à loja, pedimos que preencha todos os campos abaixo. Nossa equipe estará esperando por você!
              </p>
              <p>
                  Agradecemos antecipadamente pela sua reserva e esperamos recebê-lo em nossa loja em breve!
              </p>

              <!-- form -->
              <form id="reserva-form" class="reservations-box" method="post" action="{% url 'index' %}">
                {% csrf_token %}

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-box">
                    <input type="text" name="telefone" id="telefone" placeholder="Telefone" required />
                  </div>
                </div>
                <!-- end col -->

                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                  <div class="form-box">
                    <input type="date" id="id_data" name="date" placeholder="Data de Retirada" required />
                  </div>
                </div>
                <!-- end col -->

                <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                  <div class="form-box">{{ form.hora }}</div>
                </div>
                <!-- end col -->

                <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
                  <div class="form-box">
                    <select name="food" id="preferred_food" class="selectpicker" required>
                      <option selected disabled>Prato</option>
                      {% for food_option in foods %}
                        <option value="{{ food_option.id }}">{{ food_option.name_food }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- end col -->

                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                  <div class="form-box">{{ form.peso }}</div>
                </div>
                <!-- end col -->

                <div class="col-lg-3 col-md-8 col-sm-8 col-xs-12">
                  <div class="form-box">
                    <select name="modo" id="modo" class="selectpicker" required>
                      <option selected disabled>Modo</option>
                      {% for modo, modo_label in modo_choices.items %}
                        <option value="{{ modo }}">{{ modo_label }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- end col -->

                <!-- Campos Adicionais -->
                <div id="pratoContainer">
                  <div class="prato" style="display: none;">
                    <div class="col-lg-4 col-md-7 col-sm-7 col-xs-12">
                      <div class="form-box">
                        <select name="nome_prato">
                          <option value="" selected disabled>Prato(Campo extra)</option>
                          {% for food_option in foods %}
                            <option value="{{ food_option.id }}">{{ food_option.name_food }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                      <div class="form-box">
                        <select name="peso_prato">
                          <option value="" selected disabled>Peso(Campo extra)</option>
                          <option value="400g">400g</option>
                          <option value="500g">500g</option>
                          <option value="1000g">1000g</option>
                        </select>
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-8 col-sm-8 col-xs-12">
                      <div class="form-box">
                        <select name="modo" id="modo" required>
                          <option selected disabled>Modo</option>
                          {% for modo, modo_label in modo_choices.items %}
                            <option value="{{ modo }}">{{ modo_label }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                      <div class="form-box text-center">
                        <a type="button" class="remover-prato" onclick="removerPrato(this.parentNode.parentNode)"><i class="fa fa-minus-circle" style="font-size: 3vh; color: red; margin-top: 15px;"></i></a>
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                </div>
                <!-- Campos Adicionais -->

                <!-- Botão para adicionar prato -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button type="button" class="btn btn" onclick="adicionarPrato()">Adicionar Prato</button>
                </div>
                <!-- Fim do Botão para adicionar prato -->

                <!-- Botão de envio do formulário -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="reserve-book-btn text-center">
                    <button type="submit" id="reserveButton" class="hvr-underline-from-center">Reservar</button>
                  </div>
                </div>
                <!-- end col -->
              </form>
              <!-- form -->
            </div>
            <!-- end col -->
          </div>
          <!-- end reservations-box -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- reservations-main -->

    <div id="footer" class="footer-main">
      <div class="footer-box pad-top-70">
        <div class="container">
          <div class="row">
            <div class="footer-in-main">
              <div class="footer-logo">
                <div class="text-center">
                  <img src="{% static 'images/logo.png' %}" alt="" />
                </div>
              </div>

              <!-- Footer sobre nos -->
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-box-a">
                  <h3>Sobre nós</h3>
                  <p>Cada prato é uma obra de arte efêmera, uma explosão de cores, texturas e aromas que despertam os sentidos e contam histórias únicas.</p>
                  <ul class="socials-box footer-socials pull-left">
                    <li>
                      <a href="https://api.whatsapp.com/send?phone=556181156312&text=Quero%20pedir%20meu%20prato%20Le%20Sorelle!%20%F0%9F%8D%9D%E2%9C%A8" target="_blank">
                        <div class="social-circle-border">
                          <i class="fa fa-whatsapp"></i>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/lesorellemassas/" target="_blank">
                        <div class="social-circle-border">
                          <i class="fa fa-instagram"></i>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.google.com/maps/place/Le+Sorelle/@-15.8025191,-47.9312711,17z/data=!3m2!4b1!5s0x935a306fc2264585:0xe4f6e28d4eda2d16!4m5!3m4!1s0x935a3071ab78b3c3:0xe71a80ea36a49f54!8m2!3d-15.8025243!4d-47.9290824?shorturl=1" target="_blank">
                        <div class="social-circle-border">
                          <i class="fa fa-location-arrow"></i>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- end footer-box-a -->
              </div>
              <!-- Footer sobre nos -->

              <!-- Footer menu -->
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-box-b">
                  <h3>Menu</h3>
                  <ul>
                    {% for food_option in foods|slice:':4' %}
                      <li>
                        <a href="#reservation">{{ food_option.name_food }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <!-- Footer menu -->
              </div>
              <!-- Footer sobre nos -->

              <!-- Footer Contatos -->
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-box-c">
                  <h3>Contatos</h3>
                  <p>
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                    <span>CLSW 304 Bloco C - loja 44, St. Sudoeste, Brasília - DF, 70673-633</span>
                  </p>
                  <p>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <span>61 3041-4751</span>
                  </p>
                  <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span><a href="#">arthurcalorio@gmail.com</a></span>
                  </p>
                </div>
                <!-- end footer-box-c -->
              </div>
              <!-- Footer Contatos -->

              <!-- Footer horaios -->
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-box-d">
                  <h3>Horarios de Funcionamento</h3>
                  <ul>
                    <li>
                      <p>Segunda a Sábado</p>
                      <span>8:00h - 20:00h</span>
                    </li>
                  </ul>
                </div>
                <!-- end footer-box-d -->
              </div>
              <!-- Footer horaios -->
            </div>
            <!-- end footer-in-main -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
        <div id="copyright" class="copyright-main">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h6 class="copy-title">Direitos Autorais &copy; 2024 Le Sorelle Desenvolvido por <a href="https://www.instagram.com/a.calorio/?next=%2F" target="_blank">Arthur Calorio</a></h6>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </div>
        <!-- end copyright-main -->
      </div>
      <!-- end footer-box -->
    </div>
    <!-- end footer-main -->

    <a href="#" class="scrollup" style="display: none;">Scroll</a>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Seus outros arquivos JavaScript -->
    <script src="{% static 'js/all.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sistema.js' %}"></script>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Referência ao formulário
    var form = document.getElementById('reserva-form')
  
    // Evento de envio do formulário
    form.addEventListener('submit', function (event) {
      // Referências aos campos obrigatórios
      var dateField = document.getElementsByName('date')[0]
      var horaField = document.getElementsByName('hora')[0]
      var foodField = document.getElementById('preferred_food')
  
      // Variável para armazenar os nomes dos campos faltando
      var camposFaltando = []
  
      // Verifica se os campos obrigatórios foram preenchidos
      if (!dateField.value) {
        camposFaltando.push('Data de Retirada')
      }
      if (!horaField.value) {
        camposFaltando.push('Horário')
      }
      if (foodField.selectedIndex === 0) {
        camposFaltando.push('Prato')
      }
  
      // Se algum campo estiver faltando, impede o envio do formulário e exibe uma mensagem de aviso
      if (camposFaltando.length > 0) {
        event.preventDefault()
        alert('Por favor, preencha os seguintes campos obrigatórios: ' + camposFaltando.join(', '))
      }
    })
  })
  
  // Função para desativar o botão após o envio do formulário
  function disableButton() {
    document.getElementById('reserveButton').disabled = true
    document.getElementById('reserveButton').innerText = 'Enviando...'
  }
  
  // Adicionando evento de clique ao botão de reserva
  document.getElementById('reserva-form').addEventListener('submit', function () {
    disableButton()
  })
</script>
