<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>LeSorelle</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>

  <body>
    {% if user.is_authenticated %}
      <div class="container-scroller">
        <!-- Nav esquerda -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="{% url 'index' %}"><img style="width: 80px; height: auto;" src="{% static 'images/logo.png' %}" alt="" /></a>
            <a class="sidebar-brand brand-logo-mini" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
          </div>

          <ul class="nav">
            <li class="nav-item nav-category">
              <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items active">
              <a class="nav-link">
                <span class="menu-icon"><i class="mdi mdi-table-large"></i></span>
                <span class="menu-title">Meus Pedidos</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- Nav esquerda -->

        <div class="container-fluid page-body-wrapper">
          <!-- Nav alto -->
          <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
              <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img style="width: 50px; height: auto;" src="{% static 'images/logo.png' %}"
                alt="logo" /></a>
            </div>

            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
              <!-- Pesquisa -->
              <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"><span class="mdi mdi-menu"></span></button>
              <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                  <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                    <input type="text" class="form-control" placeholder="Search products" />
                  </form>
                </li>
              </ul>
              <!-- Pesquisa -->

              <!-- Nav Direita -->
              <ul class="navbar-nav navbar-nav-right">
                
                <!-- links -->
                <li class="nav-item nav-settings d-none d-lg-block">
                  <a class="nav-link" href="#"><i class="mdi mdi-view-grid"></i></a>
                </li>
                <!-- links -->

                <!-- Notifications -->
                <li class="nav-item dropdown border-left">
                  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                    <i class="mdi mdi-bell"></i>
                    <span class="count bg-danger"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <h6 class="p-3 mb-0">Notifications</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-calendar text-success"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Event today</p>
                        <p class="text-muted ellipsis mb-0">Just a reminder that you have an event today</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-settings text-danger"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Settings</p>
                        <p class="text-muted ellipsis mb-0">Update dashboard</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-link-variant text-warning"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Launch Admin</p>
                        <p class="text-muted ellipsis mb-0">New admin wow!</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <p class="p-3 mb-0 text-center">See all notifications</p>
                  </div>
                </li>
                <!-- Notifications -->

                <!-- Profile -->
                <li class="nav-item dropdown">
                  <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                    <div class="navbar-profile">
                      <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.first_name }} {{ user.last_name }}</p>
                      <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                    <h6 class="p-3 mb-0">Perfil</h6>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'index' %}" class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-table text-success"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Inicio</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'login' %}" class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-logout text-danger"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Sair</p>
                      </div>
                    </a>
                  </div>
                </li>
                <!-- Profile -->

              </ul>
              <!-- Nav Direita -->

              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas"><span class="mdi mdi-format-line-spacing"></span></button>
            </div>
          </nav>
          <!-- Nav alto -->

          <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title">Minhas Reservas</h3>
              </div>
              <div class="row">
                
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Minhas Reservas</h4>
                          {% if reservas_usuario %}
                          <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>Imagem</th>
                                          <th>Produto</th>
                                          <th>Peso (kg)</th>
                                          <th>Preço Total</th>
                                          <th>Data</th>
                                          <th>Hora</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for reserva in reservas_usuario %}
                                        <tr class="reserva-link"
                                            data-img-src="{{ reserva.food.img.url }}"
                                            data-nome-produto="{{ reserva.food.name_food }}"
                                            data-peso="{{ reserva.peso }}"
                                            data-preco-total="{{ reserva.preco_total | floatformat:"2" }}"
                                            data-data="{{ reserva.date }}"
                                            data-hora="{{ reserva.hora }}">
                                            <td>
                                                <img src="{{ reserva.food.img.url }}" class="rounded-sm" style="width: 100px; height: auto;">
                                            </td>
                                            <td>{{ reserva.food.name_food }}</td>
                                            <td>{{ reserva.peso }}</td>
                                            <td>R${{ reserva.preco_total | floatformat:"2" }}</td>
                                            <td>{{ reserva.date }}</td>
                                            <td>{{ reserva.hora }}</td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                          {% else %}
                          <p class="alert alert-info" role="alert">Nenhum pedido feito.</p>
                          {% endif %}
                      </div>
                  </div>
                </div>
              
              </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
              </div>
            </footer>
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>

      <!-- Modal Detalhes Reserva -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Cabeçalho do Modal -->
                <div class="modal-header">
                  <h4 class="modal-title">Detalhes da Reserva</h4>
                  <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <!-- Corpo do Modal -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img id="modalImagem" src="" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <p><strong>Produto:</strong> <span id="modalNomeProduto"></span></p>
                            <p><strong>Peso (kg):</strong> <span id="modalPeso"></span></p>
                            <p><strong>Preço Total:</strong> <span id="modalPrecoTotal"></span></p>
                            <p><strong>Data:</strong> <span id="modalData"></span></p>
                            <p><strong>Hora:</strong> <span id="modalHora"></span></p>
                            <div class="mt-3">
                              <button type="button" class="btn btn-danger" id="cancelarEntrega">Cancelar Entrega</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer Modal -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
      </div>
      <!-- Modal Detalhes Reserva -->

    {% endif %}
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>


<script>
  $(document).ready(function() {
      // Adicione um evento de clique aos elementos da tabela com a classe 'reserva-link'
      $('.reserva-link').click(function() {
          // Recupere os detalhes da reserva
          var imgSrc = $(this).data('img-src');
          var nomeProduto = $(this).data('nome-produto');
          var peso = $(this).data('peso');
          var precoTotal = $(this).data('preco-total');
          var data = $(this).data('data');
          var hora = $(this).data('hora');

          // Preencha o modal com os detalhes da reserva
          $('#modalImagem').attr('src', imgSrc);
          $('#modalNomeProduto').text(nomeProduto);
          $('#modalPeso').text(peso);
          $('#modalPrecoTotal').text(precoTotal);
          $('#modalData').text(data);
          $('#modalHora').text(hora);

          // Exiba o modal
          $('#myModal').modal('show');
      });
  });

  $(document).ready(function() {
      // Evento de clique para o botão de cancelar entrega
      $('#cancelarEntrega').click(function() {
          // Coloque aqui o código para cancelar a entrega
          // Por exemplo, você pode enviar uma requisição AJAX para o servidor para cancelar a entrega
          // Ou exibir uma mensagem de confirmação ao usuário e tomar a ação apropriada
          // Neste exemplo, apenas fecharemos o modal
          $('#myModal').modal('hide');
      });
  });
</script>